.register-display {
    border: 3px solid #00b5e2;
    border-radius: 8px;
    color: #00b5e2;
    background-color: white;
    padding: 0;
    --display-height: 32px;
    height: var(--display-height);
    font-size: 1rem;
    margin: 8px;
    cursor: default;
    user-select: none;
}

.register-display .label {
    padding: 0 8px;
    /*font-family: monospace;*/
    margin-right: 8px;
    line-height: var(--display-height);
    height: var(--display-height);
    display: inline-block;
    color: white;
    background-color: #00b5e2;
}

.register-display .value {
    display: inline-block;
    width: 192px;
    font-family: monospace;
    color: black;

    text-align: center;
    white-space: nowrap;
    height: var(--display-height);
    line-height: var(--display-height);
}

.register-display .modes {
    margin: 0 4px;
    font-size: 0.7rem;
}

.register-display .mode {
    color: #00B5E2;
    background-color: white;
    padding: 2px 3px;
    cursor: pointer;
}

.register-display .mode.selected {
    color: white;
    background-color: #00B5E2;
}