.App {
  width: 100vw;
  height: 100vh;
  --color-night: #211551;
  --color-copper: #9D581F;
  --color-snow: white;
  --color-flint: #101820;
  --color-birch: #F1F1DE;
  --color-thistle: #8252C7;
  --color-sky: #00B5E2;
  --color-for-current-highlight: rgba(142, 102, 199, 0.4);

  display: grid;
  grid-template-columns: 1fr 0fr;
  grid-template-rows: 0fr 1fr 0fr 0.25fr;
  grid-template-areas:
    "controls controls"
    "editor registers"
    "message message"
    "output output";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.read-only .ace_cursor {
  opacity: 0 !important;
}