.App {
  width: 100vw;
  height: 100vh;
  --color-night: #211551;
  --color-copper: #9D581F;
  --color-snow: white;
  --color-flint: #101820;
  --color-birch: #F1F1DE;
  --color-thistle: #8252C7;
  --color-thistle-darker: #7a46c3;
  --color-thistle-lighter: #9065cd;
  --color-sky: #00B5E2;
  --color-for-current-highlight: rgba(142, 102, 199, 0.4);
  --color-for-chrome: var(--color-thistle);
  --color-for-text: black;
  --color-for-background: white;
  --color-for-background-translucent: #ffffffe0;

  --content-font: Lato, sans-serif;
  --mono-font: Iosevka Kathy Web, monospace;
  font-stretch: expanded;

  display: grid;
  grid-template-columns: 1fr 0fr 0fr;
  grid-template-rows: 0fr 1fr 0fr 0.25fr;
  grid-template-areas:
    "top top top"
    "editor registers memory"
    "message message message"
    "output output output";

  background-color: var(--color-for-background);
  color: var(--color-for-text);
}

.App.dark-mode {
    --color-for-text: white;
    --color-for-background: var(--color-flint);
    --color-for-background-translucent: #101820f0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.read-only .ace_cursor {
  opacity: 0 !important;
}

button, label.button, select {
    background-color: var(--color-thistle);
    color: white;
    border: none;
    padding: 4px 12px;
    border-radius: 4px;
}

button:hover, label.button:hover, select:hover {
    background-color: var(--color-thistle-lighter);
}

button:active, label.button:active, select:active {
  background-color: var(--color-thistle-darker);
}

.dark-mode a[href] {
  color: var(--color-thistle);
}

.dark-mode-toggle {
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0 !important;
  left: 4px;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgdmlld0JveD0iMCAwIDUwIDUwIj4KICAgIDxwYXRoIGlkPSJsaW5lcyIgc3Ryb2tlPSIjNDQ0IiBzdHJva2Utd2lkdGg9IjQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgZD0iTTI1LDUgTDI1LDExIE0yNSw0NSBMMjUsMzkgTTUsMjUgTDExLDI1IE00NSwyNSBMMzksMjUiPjwvcGF0aD4KICAgIDx1c2UgaHJlZj0iI2xpbmVzIiB0cmFuc2Zvcm09InJvdGF0ZSg0NSwgMjUsIDI1KSI+PC91c2U+CiAgICA8Y2lyY2xlIGN4PSIyNSIgY3k9IjI1IiByPSI4IiBzdHJva2U9IiM0NDQiIHN0cm9rZS13aWR0aD0iNCIgZmlsbD0ibm9uZSI+PC9jaXJjbGU+Cjwvc3ZnPgo=");
  background-size: cover;
  border: none;
  cursor: pointer;
}

.dark-mode-toggle:hover {
  opacity: 0.8;
}

dialog {
    padding: 96px 16px 16px 16px;
    border: 2px solid var(--color-thistle);
    border-radius: 4px;
    min-width: 50vw;
    min-height: 30vh;
    background-color: var(--color-for-background);
    color: var(--color-for-text);

}

dialog h1 {
    position: absolute;
    background-color: var(--color-for-chrome);
    color: white;
    left: 0;
    top: 0;
    padding: 8px 12px;
    margin: 0;
    isolation: isolate;
    z-index: 1;
}

dialog h1::before {
    content: "";
    position: absolute;
    display: block;
    left: -24px;
    right: -24px;
    bottom: -4px;
    top: -8px;
    transform: skewX(-20deg);
    background-color: var(--color-for-chrome);
    z-index: -1;
    border-radius: 0 0 4px 0;
}

@font-face {
  font-family: Lato;
  src: url(./font/Lato-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Lato;
  src: url(./font/Lato-Italic.ttf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Lato;
  src: url(./font/Lato-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Lato;
  src: url(./font/Lato-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: Lato;
  src: url(./font/Lato-Black.ttf);
  font-weight: 900;
}

@font-face {
  font-family: Lato;
  src: url(./font/Lato-BlackItalic.ttf);
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Iosevka Kathy Web';
  font-display: swap;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  src: url('./font/ttf/iosevka-kathy-thin.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-thin.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web';
  font-display: swap;
  font-weight: 100;
  font-stretch: expanded;
  font-style: normal;
  src: url('./font/ttf/iosevka-kathy-extendedthin.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-extendedthin.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web';
  font-display: swap;
  font-weight: 100;
  font-stretch: normal;
  font-style: oblique;
  src: url('./font/ttf/iosevka-kathy-thinoblique.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-thinoblique.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web Oblique';
  font-display: swap;
  font-weight: 100;
  font-stretch: normal;
  src: url('./font/ttf/iosevka-kathy-thinoblique.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-thinoblique.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web';
  font-display: swap;
  font-weight: 100;
  font-stretch: expanded;
  font-style: oblique;
  src: url('./font/ttf/iosevka-kathy-extendedthinoblique.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-extendedthinoblique.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web Oblique';
  font-display: swap;
  font-weight: 100;
  font-stretch: expanded;
  src: url('./font/ttf/iosevka-kathy-extendedthinoblique.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-extendedthinoblique.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web';
  font-display: swap;
  font-weight: 100;
  font-stretch: normal;
  font-style: italic;
  src: url('./font/ttf/iosevka-kathy-thinitalic.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-thinitalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web';
  font-display: swap;
  font-weight: 100;
  font-stretch: expanded;
  font-style: italic;
  src: url('./font/ttf/iosevka-kathy-extendedthinitalic.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-extendedthinitalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web';
  font-display: swap;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  src: url('./font/ttf/iosevka-kathy-extralight.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-extralight.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web';
  font-display: swap;
  font-weight: 200;
  font-stretch: expanded;
  font-style: normal;
  src: url('./font/ttf/iosevka-kathy-extendedextralight.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-extendedextralight.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web';
  font-display: swap;
  font-weight: 200;
  font-stretch: normal;
  font-style: oblique;
  src: url('./font/ttf/iosevka-kathy-extralightoblique.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-extralightoblique.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web Oblique';
  font-display: swap;
  font-weight: 200;
  font-stretch: normal;
  src: url('./font/ttf/iosevka-kathy-extralightoblique.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-extralightoblique.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web';
  font-display: swap;
  font-weight: 200;
  font-stretch: expanded;
  font-style: oblique;
  src: url('./font/ttf/iosevka-kathy-extendedextralightoblique.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-extendedextralightoblique.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web Oblique';
  font-display: swap;
  font-weight: 200;
  font-stretch: expanded;
  src: url('./font/ttf/iosevka-kathy-extendedextralightoblique.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-extendedextralightoblique.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web';
  font-display: swap;
  font-weight: 200;
  font-stretch: normal;
  font-style: italic;
  src: url('./font/ttf/iosevka-kathy-extralightitalic.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-extralightitalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web';
  font-display: swap;
  font-weight: 200;
  font-stretch: expanded;
  font-style: italic;
  src: url('./font/ttf/iosevka-kathy-extendedextralightitalic.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-extendedextralightitalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web';
  font-display: swap;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  src: url('./font/ttf/iosevka-kathy-light.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-light.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web';
  font-display: swap;
  font-weight: 300;
  font-stretch: expanded;
  font-style: normal;
  src: url('./font/ttf/iosevka-kathy-extendedlight.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-extendedlight.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web';
  font-display: swap;
  font-weight: 300;
  font-stretch: normal;
  font-style: oblique;
  src: url('./font/ttf/iosevka-kathy-lightoblique.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-lightoblique.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web Oblique';
  font-display: swap;
  font-weight: 300;
  font-stretch: normal;
  src: url('./font/ttf/iosevka-kathy-lightoblique.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-lightoblique.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web';
  font-display: swap;
  font-weight: 300;
  font-stretch: expanded;
  font-style: oblique;
  src: url('./font/ttf/iosevka-kathy-extendedlightoblique.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-extendedlightoblique.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web Oblique';
  font-display: swap;
  font-weight: 300;
  font-stretch: expanded;
  src: url('./font/ttf/iosevka-kathy-extendedlightoblique.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-extendedlightoblique.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web';
  font-display: swap;
  font-weight: 300;
  font-stretch: normal;
  font-style: italic;
  src: url('./font/ttf/iosevka-kathy-lightitalic.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-lightitalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web';
  font-display: swap;
  font-weight: 300;
  font-stretch: expanded;
  font-style: italic;
  src: url('./font/ttf/iosevka-kathy-extendedlightitalic.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-extendedlightitalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web';
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src: url('./font/ttf/iosevka-kathy-regular.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web';
  font-display: swap;
  font-weight: 400;
  font-stretch: expanded;
  font-style: normal;
  src: url('./font/ttf/iosevka-kathy-extended.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-extended.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web';
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: oblique;
  src: url('./font/ttf/iosevka-kathy-oblique.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-oblique.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web Oblique';
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  src: url('./font/ttf/iosevka-kathy-oblique.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-oblique.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web';
  font-display: swap;
  font-weight: 400;
  font-stretch: expanded;
  font-style: oblique;
  src: url('./font/ttf/iosevka-kathy-extendedoblique.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-extendedoblique.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web Oblique';
  font-display: swap;
  font-weight: 400;
  font-stretch: expanded;
  src: url('./font/ttf/iosevka-kathy-extendedoblique.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-extendedoblique.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web';
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: italic;
  src: url('./font/ttf/iosevka-kathy-italic.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web';
  font-display: swap;
  font-weight: 400;
  font-stretch: expanded;
  font-style: italic;
  src: url('./font/ttf/iosevka-kathy-extendeditalic.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-extendeditalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web';
  font-display: swap;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  src: url('./font/ttf/iosevka-kathy-medium.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web';
  font-display: swap;
  font-weight: 500;
  font-stretch: expanded;
  font-style: normal;
  src: url('./font/ttf/iosevka-kathy-extendedmedium.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-extendedmedium.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web';
  font-display: swap;
  font-weight: 500;
  font-stretch: normal;
  font-style: oblique;
  src: url('./font/ttf/iosevka-kathy-mediumoblique.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-mediumoblique.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web Oblique';
  font-display: swap;
  font-weight: 500;
  font-stretch: normal;
  src: url('./font/ttf/iosevka-kathy-mediumoblique.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-mediumoblique.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web';
  font-display: swap;
  font-weight: 500;
  font-stretch: expanded;
  font-style: oblique;
  src: url('./font/ttf/iosevka-kathy-extendedmediumoblique.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-extendedmediumoblique.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web Oblique';
  font-display: swap;
  font-weight: 500;
  font-stretch: expanded;
  src: url('./font/ttf/iosevka-kathy-extendedmediumoblique.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-extendedmediumoblique.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web';
  font-display: swap;
  font-weight: 500;
  font-stretch: normal;
  font-style: italic;
  src: url('./font/ttf/iosevka-kathy-mediumitalic.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-mediumitalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web';
  font-display: swap;
  font-weight: 500;
  font-stretch: expanded;
  font-style: italic;
  src: url('./font/ttf/iosevka-kathy-extendedmediumitalic.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-extendedmediumitalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web';
  font-display: swap;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  src: url('./font/ttf/iosevka-kathy-semibold.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-semibold.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web';
  font-display: swap;
  font-weight: 600;
  font-stretch: expanded;
  font-style: normal;
  src: url('./font/ttf/iosevka-kathy-extendedsemibold.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-extendedsemibold.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web';
  font-display: swap;
  font-weight: 600;
  font-stretch: normal;
  font-style: oblique;
  src: url('./font/ttf/iosevka-kathy-semiboldoblique.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-semiboldoblique.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web Oblique';
  font-display: swap;
  font-weight: 600;
  font-stretch: normal;
  src: url('./font/ttf/iosevka-kathy-semiboldoblique.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-semiboldoblique.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web';
  font-display: swap;
  font-weight: 600;
  font-stretch: expanded;
  font-style: oblique;
  src: url('./font/ttf/iosevka-kathy-extendedsemiboldoblique.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-extendedsemiboldoblique.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web Oblique';
  font-display: swap;
  font-weight: 600;
  font-stretch: expanded;
  src: url('./font/ttf/iosevka-kathy-extendedsemiboldoblique.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-extendedsemiboldoblique.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web';
  font-display: swap;
  font-weight: 600;
  font-stretch: normal;
  font-style: italic;
  src: url('./font/ttf/iosevka-kathy-semibolditalic.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-semibolditalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web';
  font-display: swap;
  font-weight: 600;
  font-stretch: expanded;
  font-style: italic;
  src: url('./font/ttf/iosevka-kathy-extendedsemibolditalic.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-extendedsemibolditalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web';
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  src: url('./font/ttf/iosevka-kathy-bold.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web';
  font-display: swap;
  font-weight: 700;
  font-stretch: expanded;
  font-style: normal;
  src: url('./font/ttf/iosevka-kathy-extendedbold.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-extendedbold.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web';
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: oblique;
  src: url('./font/ttf/iosevka-kathy-boldoblique.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-boldoblique.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web Oblique';
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  src: url('./font/ttf/iosevka-kathy-boldoblique.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-boldoblique.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web';
  font-display: swap;
  font-weight: 700;
  font-stretch: expanded;
  font-style: oblique;
  src: url('./font/ttf/iosevka-kathy-extendedboldoblique.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-extendedboldoblique.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web Oblique';
  font-display: swap;
  font-weight: 700;
  font-stretch: expanded;
  src: url('./font/ttf/iosevka-kathy-extendedboldoblique.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-extendedboldoblique.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web';
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: italic;
  src: url('./font/ttf/iosevka-kathy-bolditalic.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-bolditalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web';
  font-display: swap;
  font-weight: 700;
  font-stretch: expanded;
  font-style: italic;
  src: url('./font/ttf/iosevka-kathy-extendedbolditalic.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-extendedbolditalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web';
  font-display: swap;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  src: url('./font/ttf/iosevka-kathy-extrabold.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-extrabold.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web';
  font-display: swap;
  font-weight: 800;
  font-stretch: expanded;
  font-style: normal;
  src: url('./font/ttf/iosevka-kathy-extendedextrabold.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-extendedextrabold.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web';
  font-display: swap;
  font-weight: 800;
  font-stretch: normal;
  font-style: oblique;
  src: url('./font/ttf/iosevka-kathy-extraboldoblique.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-extraboldoblique.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web Oblique';
  font-display: swap;
  font-weight: 800;
  font-stretch: normal;
  src: url('./font/ttf/iosevka-kathy-extraboldoblique.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-extraboldoblique.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web';
  font-display: swap;
  font-weight: 800;
  font-stretch: expanded;
  font-style: oblique;
  src: url('./font/ttf/iosevka-kathy-extendedextraboldoblique.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-extendedextraboldoblique.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web Oblique';
  font-display: swap;
  font-weight: 800;
  font-stretch: expanded;
  src: url('./font/ttf/iosevka-kathy-extendedextraboldoblique.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-extendedextraboldoblique.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web';
  font-display: swap;
  font-weight: 800;
  font-stretch: normal;
  font-style: italic;
  src: url('./font/ttf/iosevka-kathy-extrabolditalic.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-extrabolditalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web';
  font-display: swap;
  font-weight: 800;
  font-stretch: expanded;
  font-style: italic;
  src: url('./font/ttf/iosevka-kathy-extendedextrabolditalic.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-extendedextrabolditalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web';
  font-display: swap;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  src: url('./font/ttf/iosevka-kathy-heavy.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-heavy.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web';
  font-display: swap;
  font-weight: 900;
  font-stretch: expanded;
  font-style: normal;
  src: url('./font/ttf/iosevka-kathy-extendedheavy.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-extendedheavy.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web';
  font-display: swap;
  font-weight: 900;
  font-stretch: normal;
  font-style: oblique;
  src: url('./font/ttf/iosevka-kathy-heavyoblique.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-heavyoblique.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web Oblique';
  font-display: swap;
  font-weight: 900;
  font-stretch: normal;
  src: url('./font/ttf/iosevka-kathy-heavyoblique.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-heavyoblique.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web';
  font-display: swap;
  font-weight: 900;
  font-stretch: expanded;
  font-style: oblique;
  src: url('./font/ttf/iosevka-kathy-extendedheavyoblique.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-extendedheavyoblique.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web Oblique';
  font-display: swap;
  font-weight: 900;
  font-stretch: expanded;
  src: url('./font/ttf/iosevka-kathy-extendedheavyoblique.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-extendedheavyoblique.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web';
  font-display: swap;
  font-weight: 900;
  font-stretch: normal;
  font-style: italic;
  src: url('./font/ttf/iosevka-kathy-heavyitalic.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-heavyitalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Kathy Web';
  font-display: swap;
  font-weight: 900;
  font-stretch: expanded;
  font-style: italic;
  src: url('./font/ttf/iosevka-kathy-extendedheavyitalic.ttf') format('truetype'), url('./font/woff2/iosevka-kathy-extendedheavyitalic.woff2') format('woff2');
}
